<label for="serverName">Enter Server Name</label>
<!-- <input type="text" class="form-control" (input)='onUpdateServerName($event)'> -->
<input type="text" class="form-control" [(ngModel)]='serverName'>
<!-- <p>{{serverName}}</p> -->
<button class="btn btn-success" [disabled]='!serverName' (click)='onCreateNewServer()'>Add Server</button>
<button class="btn btn-danger" [disabled]='!serverName' (click)='serverName=""; serverCreated=false'>Remove
  Server</button>
<hr>
<p *ngIf="serverCreated; else noServerAvailable" [innerText]="serverCreationStatus"></p>
<ng-template #noServerAvailable>
  <p>No server was created yet!!</p>
</ng-template>
<hr>
<p class="lead" [ngStyle]="{backgroundColor: getColor()}" [ngClass]="{wtc: serverStatus === 'online'}">
  {{ "Server" }} with ID {{ serverId }} is {{ getServerStatus() }}.
</p>
<p *ngFor="let server of servers">{{server}} created successfully!!</p>
