<h2>display-details works!</h2>
<div class="container text-center" [ngClass]="{display__btn: 1}">
  <button class="btn btn-success" (click)='toggleDisplayVisibility()'>Display
    Details
  </button>
  <button class="btn btn-info" (click)='timestampLogs=[]' [ngStyle]="{marginLeft: '20px'}">
    Clear Logs
  </button>
</div>
<div class="container text-center default__msg_height">
  <p class='text-info h4' *ngIf="isDetailsVisible">My name is <strong>Satish Yadav</strong>
  </p>
</div>
<div class="container">
  <ul class="list-group">
    <li class="list-group-item" *ngFor="let timestamplog of timestampLogs" [ngClass]="{bg__blue: isEnoughLogs()}">
      <span class="badge">{{timestamplog.timestamp}}</span>
      Button turned {{timestamplog.status?'on':'off'}} at this timestamp --------------->
    </li>
  </ul>
</div>
